################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bsky/Properties/launchSettings.json
/.vs
/Bsky/bin
/Bsky/obj
